
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: brown;
  border-width:1px ;

} */
/* .flex {
  display: flex;

} */

.list {

  width: 380px;
  height: 100vh;
  overflow: scroll;
  position: fixed;
}

.explore,
.show{
margin-left: 380px;
width: calc(100% - 380px);
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
}


.explore img,
.show img {
 width: 800px;

}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.work{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  max-width: 800px;
  margin: 3em 0 3em 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; /* Accélère au début */
  }
  50% {
    transform: rotate(200deg); /* Rotation à 50% de l'animation */
    animation-timing-function: ease-out; /* Transition fluide entre accélération et décélération */
  }
  100% {
    transform: rotate(360deg); /* Rotation finale à 360° */
    animation-timing-function: ease-out;
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  animation: rotate 5.5s infinite;
  }

.image{
  margin-bottom: 2em;
}

.video{
  margin-bottom: 2em;
}

.entete{
  margin-bottom: 3em;
}
