

/* * {
  border-style: solid;
  border-color: brown;
  border-width:1px ;

} */
/* .flex {
height:100%;
width:100%;
} */


.scroll {

  width: 180px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  overflow-wrap: break-word;
}

.list{
 margin: 4em 0 4em 2.5em;
}


.explore,
.show{
margin:0 0 0 180px;
width: calc(100% - 180px);
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
height: 100%;

}


.explore img,
.show img {
 width: 100%;

}

.explore video,
.show video {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 4em 0 4em 0;
  height: 100%;
}

.work{
  display: flex;
  flex-direction: column;
  width: 600px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; /* Accélère au début */
  }
  50% {
    transform: rotate(200deg); /* Rotation à 50% de l'animation */
    animation-timing-function: ease-out; /* Transition fluide entre accélération et décélération */
  }
  100% {
    transform: rotate(360deg); /* Rotation finale à 360° */
    animation-timing-function: ease-out;
  }
}

.logo {
  width: 20px;
  height: 20px;
  margin-bottom: 1em;
  animation: rotate 5.5s infinite;
  }

.image{
  margin-bottom: 2em;
}

.video{
  margin-bottom: 1em;

}

.entete{
  width: 100%;
  margin-bottom: 3em;
}
.marginbottom1{
  margin-bottom: 1em;
}

.marginbottom4{
  margin-bottom: 4em;
}

.margintop1{
  margin-top: 1em;
}

.margintop2{
  margin-top: 2em;
}
.margintop3{
  margin-top: 3em;
}

.margintop4{
  margin-top: 4em;
}

@media (max-width: 480px){
  .explore,.show{
    margin: 0 0 0 120px;
    width: calc(100% - 120px);
  }
  .work {
      width: 90%; /* Ajuste la largeur du container à 100% de la largeur de l'écran */
  }
  .scroll {
    width: 120px;
  }

  .entete{
    margin-bottom:2em;
  }

  .image{
    margin-bottom: 1em;
  }

  .list{
    margin:2em 0em 2em 1em;
    padding-right: 0.4em;
  }

  .container{
    margin: 2em 0em 2em 0em;
  }

}

.video-container {
  width:100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
