

/* * {
  border-style: solid;
  border-color: brown;
  border-width:1px ;

} */
/* .flex {
  display: flex;

} */

.scroll {

  width: 300px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
}

.list{
 margin: 4em 0 4em 0;
}


.explore,
.show{
margin:0 0 0 300px;
width: calc(100% - 300px);
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;

}


.explore img,
.show img {
 width: 600px;

}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 4em 0 4em 0;
}

.work{
  display: flex;
  flex-direction: column;
  width: 600px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; /* Accélère au début */
  }
  50% {
    transform: rotate(200deg); /* Rotation à 50% de l'animation */
    animation-timing-function: ease-out; /* Transition fluide entre accélération et décélération */
  }
  100% {
    transform: rotate(360deg); /* Rotation finale à 360° */
    animation-timing-function: ease-out;
  }
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 1.5em;
  margin-bottom: 1em;
  animation: rotate 5.5s infinite;
  }

.image{
  margin-bottom: 2em;
}

.video{
  margin-bottom: 1em;

}

.entete{
  width: 100%;
  margin-bottom: 3em;
}
.marginbottom{
  margin-bottom: 1em;
}

.margintop{
  margin-top: 2em;
}

.margintop2{
  margin-top: 4em;
}
