

#mc_embed_signup input{
  border-radius: 0px;
}

#mc_embed_signup form{
  margin:0px;
  font:'inter';
  color:black;
  font-size: 0.8em;
}

#mc_embed_signup .button{
background-color:#f9f9f9;
border-radius: 0px;
font-family:'inter';
color: black;
background-image: none;
border-top: 1px solid #ff0000;
border-right: 1px solid #548235;
border-bottom: 1px solid #dfda00;
border-left: 1px solid #0070c0;
box-shadow: 0 0 0 0;
text-shadow: none;
font-size: 0.8em;
height: 3em;
line-height:0px

}

#mc_embed_signup .button:hover{
  background-color:#f9f9f9;
  background-image: none;
  transition: none;
}

#mc_embed_signup .button:active{
  background-color:#f9f9f9;
  background-image: none;
  transition: none;
  border-top: 1px solid #ff0000;
  border-right: 1px solid #548235;
  border-bottom: 1px solid #dfda00;
  border-left: 1px solid #0070c0;

}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error{
  border-radius: 0px;
  border: 1px solid #ff0000;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
  color: #ff0000;
  font-family: 'inter';
  background-color: #f9f9f9;
}

#mc_embed_signup .asterisk{
  color: #ff0000;
}

@media(max-width: 480px){
  #mc_embed_signup .button{
    font-size: 0.6em;
  }

  #mc_embed_signup form{
    font-size: 0.6em;
  }
}
